<h1><a href="/">Moonstomp_Records</a></h1>
<br>
<h2>Artist Page</h2>

  <h3>Artist Name: <%= @artists.artist_name %></h2><br>
  <h3>Albums: <%= @albums.album_name %></h2><br>
  <h2>Genre: <%= @albums.genre %></h2>
    <a href="/artists/<%= @artists.id %>/edit">Edit</a><br>
<form action="/artists/<%= @artists.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
